div.add-new-assets * {
    margin-bottom: 2%;
}

div.deactivate-assets {
    display: none;
}

.table-container {
    height: 50rem;
    overflow-y: scroll;
}

#search-input {
    width: 10rem;
}

@media only screen and (min-width: 992px) {
    #search-input {
        width: 45rem;
    }

    .switch-button {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .table-container {
        height: 35rem;
        overflow-y: scroll;
    }
}
