video {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
div.controls {
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    padding: 1%;
    background-color: white;
    text-align: center;
}
